<!DOCTYPE html>
<html>
<head>
  <title>Jobs</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navigation-bar">
		<%= link_to 'Categories list', root_path %>
		<%= link_to 'Dynamic AngularJS version', search_dynamic_path %>
		<%= link_to 'Static version', search_path %>

		<div class="clear"></div>
	</div>
	<div class="main-content">
		<img src="/logo.png" alt="We use angularJS... do you?"/>
		<%= yield %>
	</div>
</div>
</body>
</html>
